#abcd
{
  margin-left:30%;
}
.inrs
{
    margin-left: 50px;
    margin-top: 25px;
    background-color:lightcoral;
    width:350px;
    height: 200px;
}
.outs
{
  width: 500px;
  height: 328px;
}
.ik
{
    margin-top: 20px;
    font-size: 1.3em;
}
.trd
{
    margin-left: 60px;
}
.int
{
    background-color:white;
}
.intx
{
    background-color:chocolate;
    border-radius: 19px;
    box-shadow: black;
}
@media screen and (max-width: 1150px)
{
    #abcd
    {
      margin-left:25%;
    }
}
@media screen and (max-width: 850px)
{
    #abcd
    {
      margin-left:20%;
    }
}
@media screen and (max-width: 800px)
{
    #abcd
    {
      margin-left:15%;
    }
}
@media screen and (max-width: 700px)
{
    #abcd
    {
      margin-left:10%;
    }
}
@media screen and (max-width: 620px)
{
    #abcd
    {
      margin-left:20px;
    }
}
@media screen and (max-width: 520px)
{
    #abcd
    {
      margin-left:25px;
    }
    .inrs
    {
      width: 275px;
      margin-left:15px;
    }
    .outs
    {
      width:350px;
    }
}
@media screen and (max-width: 400px)
{
    #abcd
    {
      margin-left:2px;
    }
    .inrs
    {
      width: 275px;
      margin-left:15px;
    }
    .outs
    {
      width:350px;
    }
}
@media screen and (max-width: 300px)
{
    #abcd
    {
      margin-left:0px;
      font-size: 0.8em;
    }
    .inrs
    {
      width: 240px;
      margin-left:0px;
    }
    .outs
    {
      width:270px;
    }
}